/* ==================================================
	Digital Flash Base CSS
================================================== */

/* =========================
	Mobile
========================= */

/* Foundation */
.search {margin: 0px 0px 40px 0px;}
.search input {
	background: @search-bg;
	padding: 20px;
	border: 0px;
	line-height: 1em;
	width: 100%;
	border: 1px solid @search-bg;
	font-size: 16px;
	.rounded-corners(5px);
}
.search input:focus {outline: none; border: 1px solid @body-highlight-1;}

/* Display Stacks */
.display-stacks {margin-bottom: 30px;}
.display-stacks .stack {
	background: white;
	width: 100%;
	overflow: hidden;
	margin: 0px 0px 25px 0px;
	.rounded-corners(5px);
}
.display-stacks .stack .number {
	background: @body-highlight-3;
	text-align: center;
	padding: 50px 30px 50px 30px;
}
.display-stacks .stack .number h1 {color: white; font-size: 50px;}
.display-stacks .stack .name {text-align: center;}
.display-stacks .stack .name a {
	font-size: 20px;
	line-height: 32px;
	color: lighten(@body-text-color, 20%);
	padding: 10px 20px 10px 20px;
	display: block;
}
.display-stacks .stack .name a:hover {color: @body-text-color;}

/* Choose Mode */
.choose-mode .mode {margin: 0px 0px 40px 0px;}
.choose-mode .mode article{
	background: white;
	padding: 20px;
	text-align: center;
	border-bottom: 5px solid darken(@body-bg, 10%);
	.rounded-corners(10px);
}
.choose-mode .mode article i.fa {font-size: 85px; margin-bottom: 10px; color: @body-highlight-2;}
.choose-mode .mode article h2 {color: @body-highlight-2;}
.choose-mode .mode article p {text-align: left;}
.choose-mode .mode article a {
	display: block;
	background: @body-highlight-3;
	color: white;
	margin: 20px 0px 0px 0px;
	padding: 20px;
	.rounded-corners(5px);
	.transitions();
}
.choose-mode .mode article a:hover {background: darken(@body-highlight-3, 10%);}

/* Game */
.game {margin-bottom: 30px;}
.game #timer {
	font-size: 60px;
	display: block;
	margin: 20px auto 0px auto;
	text-align: center;
	color: @body-highlight-2;
	font-weight: 600;
	text-align: right;
}
.game button#stop {
	display: block;
	text-align: center;
	padding: 20px;
	border: 3px solid @body-highlight-2;
	background: none;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
	color: @body-highlight-2;
	.rounded-corners(5px);
	.transitions();
}
.game button#stop:hover {background: @body-highlight-2; color: white;}
.game .game-card {
	background: white;
	padding: 20px;
	margin-top: 20px;
	border-bottom: 5px solid darken(@body-bg, 10%);
	.rounded-corners(5px);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.game .game-card h2 {font-size: 40px; line-height: 52px; font-weight: 400;}
.game .game-card ul.terms {margin-top: 25px;}
.game .game-card ul.terms li {
	display: inline-block;
	padding: 20px;
	background: none;
	border: 1px solid @body-highlight-3;
	color: @body-highlight-3;
	margin: 0px 20px 20px 0px;
	cursor: pointer;
	.rounded-corners(5px);
	.transitions();
}
.game .game-card ul.terms li:hover {background: @body-highlight-3; color: white;}
.game .game-card .answerResults {
	text-align: center;
	display: none;
	margin: 10px 0px 10px 0px;
}
.game .game-card .answerResults .correct {
	padding: 10px;
	width: 100%;
	background: lighten(@body-highlight-1, 10%);
	color: white;
	display: block;
	font-size: 18px;
	line-height: 30px;
	.rounded-corners(5px);
}
.game .game-card .answerResults .wrong, .game .game-card .answerResults .time {
	padding: 10px;
	width: 100%;
	background: lighten(@body-highlight-2, 10%);
	color: white;
	display: none;
	font-size: 18px;
	line-height: 30px;
	.rounded-corners(5px);
}
.game .game-card .answerResults.showCorrect, .game .game-card .answerResults.showCorrect .correct,
.game .game-card .answerResults.showWrong, .game .game-card .answerResults.showWrong .wrong,
.game .game-card .answerResults.showTime, .game .game-card .answerResults.showTime .time {display: block;}
.game .game-card .answerResults.showCorrect .wrong, .game .game-card .answerResults.showWrong .correct {display: none;}

/* Create Stacks */
.create-stack .type {margin: 0px 0px 40px 0px;}
.create-stack .type article{
	background: white;
	padding: 20px;
	text-align: center;
	border-bottom: 5px solid darken(@body-bg, 10%);
	.rounded-corners(10px);
}
.create-stack .type article i.fa {font-size: 85px; margin-bottom: 10px; color: @body-highlight-2;}
.create-stack .type article h2 {color: @body-highlight-2;}
.create-stack .type article p {text-align: left;}
.create-stack .type article a {
	display: block;
	background: @body-highlight-3;
	color: white;
	margin: 20px 0px 0px 0px;
	padding: 20px;
	.rounded-corners(5px);
	.transitions();
}
.create-stack .type article a:hover {background: darken(@body-highlight-3, 10%);}
.terms.hideAnswers {display: none;}

/* Manage Stacks */

/* Manage Individual Stack */
button.managecards {
	background: none;
	color: white;
	border: 1px solid white;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0px;
	width: 200px;
	margin: 20px auto 0px auto;
	.rounded-corners(0px);
	.transitions();
}
button.managecards:hover {background: @body-highlight-2; border-color: @body-highlight-2;}
.current-words {margin-bottom: 40px;}
.current-words .words {overflow: hidden;}
.current-words .words h2 {
	background: darken(@body-highlight-2, 5%);
	color: white;
	text-align: center;
	overflow: hidden;
	font-size: 18px;
	cursor: pointer;
	display: block;
	padding: 10px 0px;
	margin-bottom: 0px;
	.rounded-corners(5px);
	.transitions();
}
.current-words .words h2:hover {background: darken(@body-highlight-2, 10%);}
.current-words .words .wordlist {
	margin-top: -2px;
	height: 0px; 
	overflow: hidden; 
	background: @body-highlight-2; 
	.rounded-corners-bottom(5px);
}
.current-words .words .wordlist.clicked {height: auto;}
.current-words .words ul {padding: 20px 20px 10px 20px;}
.current-words .words ul li {
	float: left;
	font-size: 16px;
	margin: 0px 10px 10px 0px;
}
.current-words .words ul li button {
	padding: 10px;
	margin: 0px;
	background: darken(@body-highlight-2, 5%);
	.transitions();
}
.current-words .words ul li button:hover {background: darken(@body-highlight-2, 10%);}
.current-words .words ul li button:focus {outline: 0px;}
.current-words .words ul li i.fa {font-size: 20px; margin-left: 10px;}
.add-words article {
	background: white;
	border-bottom: 5px solid darken(@body-bg, 10%);
	padding: 20px;
	margin: 0px 0px 35px 0px;
	.rounded-corners(10px);
}
.add-words article p {height: 75px; overflow: hidden;}
.add-words article button {
	background: @body-highlight-3;
	display: block;
	text-align: center;
	color: white;
	padding: 10px 20px;
	width: 100%;
	margin: 0px;
	.rounded-corners(5px);
	.transitions();
}
.add-words article button:hover {background: darken(@body-highlight-3, 10%);}
.custom-word {padding: 10px 0px 40px 0px;}
.custom-word a {
	padding: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	border: 4px solid @body-highlight-2;
	display: block;
	width: 100%;
	.rounded-corners(5px);
	.transitions();
}
.custom-word a:hover {color: white; background: @body-highlight-2;}
.add-custom-word input {width: 100%; .box-sizing(); margin: 0px 0px 10px 0px !important;}
.add-custom-word input:focus {outline: none; border: 1px solid @body-highlight-1 !important;}
.add-custom-word button {
	display: block;
	width: 200px;
	margin: 20px auto 0px auto !important;
	padding: 20px;
	background: none;
	border: 3px solid @body-highlight-2;
	color: @body-highlight-2;
	font-weight: 400;
	font-size: 16px;
	.transitions();
}
.add-custom-word button:hover {color: white; background: @body-highlight-2;}
.add-custom-word button:focus {outline: 0px;}

/* Game Result */
.game-session {text-align: left;}
.game-session ul {
	margin: 0px 0px 50px 0px;
	background: white;
	padding: 20px;
	border-bottom: 5px solid darken(@body-bg, 10%);
	.rounded-corners(10px);
}
.game-session ul li {
	font-size: 120px;
	line-height: 130px;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	color: @body-highlight-2;
}
.game-session ul li span {
	font-size: 16px; 
	line-height: 26px; 
	margin-left: 5px;
	color: @body-text-color;
}
.game-session a {
	background: @body-highlight-3;
	width: 100px;
	color: white;
	.rounded-corners(5px);
	.transitions();
	padding: 20px;
}
.game-session a:hover {background: darken(@body-highlight-3, 10%);}

/* Study */
.study-game article {
	background: white;
	padding: 20px;
	border-bottom: 5px solid darken(@body-bg, 10%);
	margin: 0px 0px 20px 0px;
	.rounded-corners(10px);
}
.study-game article p {margin: 0px; font-size: 18px; line-height: 28px;}
.study-game button.navbutton {
	float: left;
	font-size: 30px;
	background: @body-highlight-3;
	padding: 10px 20px;
	.transitions();
}
.study-game button.navbutton.right {float: right;}
.study-game button.navbutton:hover {background: darken(@body-highlight-3, 10%);}
.study-game .flip input[type=checkbox]{visibility: hidden;}
.study-game .flip label {
	background: @body-highlight-3;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
	cursor: pointer;
	font-size: 18px;
	.rounded-corners(5px);
	.transitions();
}
.study-game .flip label:hover {background: darken(@body-highlight-3, 10%);}

/* =========================
	Tablet
========================= */
@media screen and (min-width: 720px){

	/* Create Stacks */
	.create-stack .type {border-top: 0px; padding: 10px;}
	.create-stack .type:first-child {padding-top: 10px;}

}

/* =========================
	Desktop
========================= */
@media screen and (min-width: 1024px){}
