
/* ============================================
 Save Stack Input
 ============================================*/
#stack_name {
    .Centered(0, 0);
}

#create_stack {
    .Centered(10px, 10px);
}

.stacks_list h3 {
  color:#ff4400;
}

.Centered (@top, @bottom) {
    display: block;
    margin: @top auto @bottom auto;
}
ul.stacks_list{
    padding: 1%;
}
ul.stacks_list li {
  background:url("../components/img/box_closed.png") #fff no-repeat;
  width:202px;
  height:202px;
  margin: 0px 10px;
  padding: 0px;
}
.stacks_list li h3 a {
  position:relative;
  top:150px;
  color: #474747;
  font-size: .8em;
}
/* ============================================
  Dictionary list
============================================ */

dl.dict_list{
  height: 30%;
  overflow: hidden;
  padding: 2%;
  background-color: #fff;
  margin: 1%;
}
dl.dict_list dd{
  height: 75px;
  overflow: hidden;
}

.dict_list{
  height: 30%;
  overflow: hidden;
  padding: 2%;
  background-color: #fff;
  margin: 1%;
}

/* ============================================
  Add Custom Word Page
============================================ */

#cus_term, #cus_def{
  display: block;
  background: @search-bg;
  padding: 20px;
  margin: 10px;
  border: 0px;
  line-height: 1em;
  border: 1px solid @search-bg;
  font-size: 16px;
  .rounded-corners(5px);
}
 button.add, a.add{
  font-size: 1em;
}
button{
  display: block;
  background: @body-highlight-2;
  color: white;
  border: 0px;
  max-width: 200px;
  padding: 10px 20px 10px 20px;
  .rounded-corners(5px);
  margin: 20px  0px;
}
button.center{
  margin: auto;
}
button#add_to_dic{
  margin: 10px;
  padding: 20px;
}

/* ============================================
  Mode Page
============================================ */
/*a.easy_button{
  float:left;
  background-color: #cc4a31;
  margin: auto;
}
a.hard_button{
  float:right;
  margin: auto;
}*/

/* ============================================
  Manage Page
============================================ */
#deleteBtn .fa-times-circle {
    background: #fff;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    padding-left:1px;
}

.display-stacks #deleteBtn {
  display:none;
}
.display-stacks .stack:hover #deleteBtn {
  display:block;
   position:absolute;
   padding: 10px;
   top:-18px;
   right:0;
}
#deleteBtn i {
  font-size:30px;
  color:#f00;
  transition: color 0.2s ease-out;
}
#deleteBtn i:hover {
  color:#666;
  cursor:pointer;
  transition: color 0.2s ease-in;
}

/* ============================================
  Game Page
============================================ */
#gameBox {
  background-color:#ddd;
  height:500px;
}
#gameBoxInfo {
  background-color:#ccc;
  height:500px;
}
#gameBox ul#terms li {
  border: 1px solid #ff4400;
  margin: 10px 20px;
  height:50px;
  text-align:center;
  font-size:1.5em;
  padding:10px 0;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
#terms li {
  cursor:pointer;
}
#terms li:hover {
  background-color: #ff4400;
  color:#fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}
