<!-- Spotlight -->
<div class="spotlight">
	<div class="container-fluid">
		<h1>{{message}}</h1>
		<p><strong>{{message2}}</strong></p>
	</div>
</div>


<div class="container">
    <div class="col-md-10 col-md-offset-1">

        <div>

            <input class="col-md-4" id="cus_term" type="text" name="cus_term" ng-model="cus_term" placeholder="Term" >
						<input class="col-md-4" id="cus_def" type="text" name="cus_def" ng-model="cus_def" placeholder="Definition" >
            <button class="btn add center col-md-4" id="add_to_dic" name="add_to_dic" ng-click="addToDict(cus_term, cus_def)" >Add to Dictionary</button>

            <div data-ng-repeat="enty in data">{{term.cus_term}}</div>
        </div>

				<div>
						<dl ng-repeat="term in entry" class="dict_list col-md-3 padding">
								<dt>{{term.term}}</dt>
								<dd>{{term.definition}}</dd>
								<button ng-click="deleteWord(word)" class="add">Delete Word</button>
						</dl>

        <div class="search text-center"><input ng-model="query" placeholder="Search Existing Dictionary:"></div>

            <dl ng-repeat="term in dictionary | filter:query" class="dict_list col-md-3 padding">
                <dt>{{ term.term }}</dt>
                <dd>{{ term.definition }}</dd>
            </dl>
        </div>

    </div>
</div>
