<!-- Spotlight -->
<div class="spotlight">
	<div class="container-fluid">
		<h1>{{message}}</h1>
		<p><strong>{{message2}}</strong></p>
	</div>
</div>

<!-- Add Word -->
<div class="add-custom-word">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<input type="text" id="cus_term" name="cus_term" ng-model="cus_term" placeholder="Enter Term" />
			</div>
			<div class="col-md-6">
				<input type="text" id="cus_def" name="cus_def" ng-model="cus_def" placeholder="Enter Definition" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button id="add_to_dic" name="add_to_dic" ng-click="addToDict(cus_term, cus_def)">Add to Dictionary</button>
			</div>
		</div>
	</div>
</div>

<!-- Search -->
<div class="search" style="margin-top: 40px;">
	<div class="container-fluid">
		<input class="col-md-12" ng-model="query" placeholder="Search Your Custom Words">
	</div>
</div>

<!-- Current Words -->
<div class="add-words">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 wordanimate" ng-repeat="term in entry | filter:query">
				<article>
					<h6>{{term.term}}</h6>
					<p>{{term.definition}}</p>
					<button ng-click="deleteWord(term.term)">Delete Word</button>
				</article>
			</div>
		</div>
	</div>
</div>