<div class="text-center">


    <div><h1>Create a Stack</h1></div>

    <div class="">
        <input type="text" placeholder="Name your stack"/>
    </div>

    <div class="col-md-4">
       <i class="fa fa-random fa-3x"></i>
        <h3>Random</h3>
        <p>Description here that is really quite descriptive</p>
        <button class="btn btn-default btn-warning"> Build Stack
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>

    <div class="col-md-4">
       <i class="fa fa-cog fa-3x"></i>
        <h3>Custom</h3>
        <p>Description here that is really quite descriptive</p>
        <button class="btn btn-default btn-warning">Build Stack
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>

    <div class="col-md-4">
        <i class="fa fa-child fa-3x"></i>
        <h3>Basic</h3>
        <p>Description here that is really quite descriptive</p>
        <button class="btn btn-default btn-warning">Build Stack
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>



</div>