<!-- Spotlight -->
<div class="spotlight">
	<div class="spot-content">
		<h1>Playing Stack {{header}}</h1>
	</div>
</div>

<!-- Section -->
<section class="game">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4"><div id="timer"></div></div>
			<div class="col-xs-8"><button name="stop" id="stop" ng-click="stopGame()">Stop Game</button></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="game-card">
					<h2>{{randomItem.definition}}</h2>
					<ul class="terms" ng-class="guesses">
						<li ng-repeat="word in randomWords track by $index" ng-click="termCheck(word.word)">{{word.word}}</li>
					</ul>
					<div class="answerResults" ng-class="answerClass">
						<span class="correct" id="correctAnswer">Your answer was correct! <strong></strong></span>
						<span class="wrong" id="wrongAnswer">Your answer was wrong! <strong></strong></span>
						<span class="time" id="timesUp">Time's up! <strong></strong></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
