<!-- Spotlight -->
<div class="spotlight">
	<div class="container-fluid">
		<p>{{quote}}</p>
		<p><strong>{{quote_by}}</strong></p>
	</div>
</div>

<!-- Search -->
<div class="search">
	<div class="container-fluid">
		<input class="col-md-12" ng-model="query" placeholder="Search Stacks">
	</div>
</div>

<!-- Diplay Stacks -->
<div class="display-stacks">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="stack in stacks | filter:query">
				<div class="stack">
					<div class="number"><h1>{{stack.length}}</h1></div>
					<div class="name"><p><a href="/app/#/mode/{{stack.link}}">{{stack.name}}</a></p></div>
				</div>
			</div>
		</div>
	</div>
</div>



