<div class="jumbotron text-center spotlight">
    <h1>Manage Stacks</h1>

    <p>{{ message }}</p>
</div>

<div class="container">
    <div class="stack_box col-md-12 text-center">
        <ul class="stacks_list clearfix">
            <li class="col-md-3 text-center" ng-repeat="stack in stacks track by $index">
                <h3><a href="/app/#/manage/{{ stack.slug }}">{{ stack.name }}</a></h3>
            </li>
        </ul>

    </div>
</div>

<!-- <button class="btn btn-default btn-warning">Save changes</button> -->
