<div class="jumbotron text-center">
    <h1>{{ stack_name }}</h1>

    <p>{{ message }}</p>

    <button name="button" ng-click="deleteStack()">delete stack</button>
</div>
{{dictionary.term}}

<div class="container">
    <div class="col-md-10 col-md-offset-1">

        <div id="words">
            <ul ng-repeat="word in words">
                <li>
                    <span ng-model="word">{{ word.word }}</span> - <button ng-click="deleteWord(word)">delete word</button></li>
            </ul>
        </div>

       <button class="btn text-center"><a id="" href="#/addwords">Add Custom Word</a></button>







        <div class="text-center">Search for Words to Add: <input ng-model="query"></div>
        <dl ng-repeat="term in entry">
            <dt ng-model="term.term">{{term.term}}</dt>
            <dd ng-model="term.definition">{{term.definition}}</dd>
            <dd><button ng-click="addCustomWord(term.term, term.definition)" class="btn">Add Word</button></dd>
        </dl>
        <dl ng-repeat="term in dictionary | filter:query">
            <dt ng-model="term">{{ term.term }}</dt>
            <dd>{{ term.definition }}</dd>
            <dd><button ng-click="addWord(term)" class="btn">Add Word</button></dd>
        </dl>
    </div>
</div>
