<!-- Spotlight -->
<div class="spotlight">
	<div class="spot-content">
		<h1>{{header}}</h1>
		<p>{{message}}</p>
	</div>
</div>

<h1>{{stack_name}}</h1>

<div class="create-stack">

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 type">
				<i class="fa fa-gamepad fa-4x"></i>
				<h3>Game Mode</h3>
				<p>Choose a game mode. Double points for hard mode</p>
				<a href="/app/#/game/easy/{{ stack_name }}" ng-click="" class="easy_button center">Easy<i class="fa fa-arrow-right"></i></a>
				<a href="/app/#/game/hard/{{ stack_name }}" ng-click="" class="hard_button center">Hard<i class="fa fa-arrow-right"></i></a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 type">
				<i class="fa fa-flash fa-4x"></i>
				<h3>Practice Mode</h3>
				<p>No points in this mode!</p>
				<a href="" ng-click="">Start Game<i class="fa fa-arrow-right"></i></a>
			</div>

		</div>

	<div class="type">
		<a href="/app/#/mode/{{ stack_name }}" ng-click="addPoints()">Add Points</a>

	</div>
</div>
