<!-- Spotlight -->
<div class="spotlight">
	<div class="spot-content">
		<h1>{{header}}</h1>
		<p>{{message}}</p>
	</div>
</div>

<!-- Choose Mode -->
<div class="choose-mode">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 mode">
				<article>
					<i class="fa fa-child"></i>
					<h2>Study Mode</h2>
					<p>Match the word to the definition!  Unlimited time, no points, no stress!   Ability to browse through the cards in your stack.</p>
					<a href="#">Play Study Mode</a>
				</article>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 mode">
				<article>
					<i class="fa fa-gamepad"></i>
					<h2>Easy Mode</h2>
					<p>In this mode, you can match the word to the definition in multiple choice!  You have as much time as you need and you can choose the answer up to two times.  Each correct answer is only worth one point.</p>
					<a href="/app/#/game/easy/{{stack_name}}">Play Easy Mode</a>
				</article>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 mode">
				<article>
					<i class="fa fa-fighter-jet"></i>
					<h2>Hard Mode</h2>
					<p>In this mode, you have only ten seconds to answer before it goes to the next definition.  You only have one opportunity to choose correctly, but each correct answer is worth two points!</p>
					<a href="/app/#/game/hard/{{stack_name}}">Play Hard Mode</a>
				</article>
			</div>
		</div>
	</div>
</div>