<!-- Spotlight -->
<div class="spotlight">
	<div class="container-fluid">
		<h1>{{message + stack_name}}</h1>
	</div>
</div>

<!-- Study Cards -->
<div class="study-game">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<article>
					<div ng-hide="checked">
						<p><strong>Definition: </strong>{{randomItem2.definition}}</p>
					</div>
					<div ng-show="checked">
						<p><strong>Term: </strong>{{randomItem2.word}}</p>
					</div>
				</article>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<button ng-click="prevW()" class="navbutton"><i class="fa fa-angle-double-left"></i></button>
			</div>
			<div class="col-xs-6" style="text-align: right;">
				<button ng-click="nextW()" class="navbutton right"><i class="fa fa-angle-double-right"></i></button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 flip">
				<input type="checkbox" value="None" id="flip" ng-model="checked" name="check" checked />
				<label for="flip"> <i class="fa fa-repeat"></i> Flip</label>
			</div>
		</div>
	</div>
</div>