<!-- Spotlight -->
<div class="jumbotron text-center spotlight ">
    <h1>Study Mode</h1>

    <p>{{ stack_name }}</p>
</div>
<div class="clearfix"> <!-- all content enclosed -->

<button name="button" class="pull-left"><i class="fa fa-arrow-left"></i> Previous</button>
<button name="button" class="pull-right">Next <i class="fa fa-arrow-right"></i></button>

<dl class="dict_list col-md-3 padding">
    <dt>{{ term.term }}</dt>
    <dd>{{ term.definition }}</dd>
</dl>

<button name="button" class="pull-right clearfix">Flip</button>

</div>
